spring:
  application:
    name: room-server
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create

#  datasource:
#    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/tickget?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul}
#    username: ${SPRING_DATASOURCE_USERNAME:root}
#    password: ${SPRING_DATASOURCE_PASSWORD:root}
#    driver-class-name: ${SPRING_DATASOURCE_DRIVER:com.mysql.cj.jdbc.Driver}
#    hikari:
#      idle-timeout: ${SPRING_DATASOURCE_IDLE_TIMEOUT:300000}
#      minimum-idle: ${SPRING_DATASOURCE_MIN_IDLE:3}
#      maximum-pool-size: ${SPRING_DATASOURCE_MAX_POOL_SIZE:5}
#      connection-timeout: ${SPRING_DATASOURCE_CONNECTION_TIMEOUT:600000}


management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always