spring:
  application:
    name: room-server
#  datasource:
#    url: jdbc:h2:mem:testdb
#    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      bootstrap-servers: localhost:9092
      group-id: room-server
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "com.tickget.roomserver.event,com.tickget.roomserver.kafaka"

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/tickget?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER:com.mysql.cj.jdbc.Driver}
    hikari:
      idle-timeout: ${SPRING_DATASOURCE_IDLE_TIMEOUT:300000}
      minimum-idle: ${SPRING_DATASOURCE_MIN_IDLE:3}
      maximum-pool-size: ${SPRING_DATASOURCE_MAX_POOL_SIZE:5}
      connection-timeout: ${SPRING_DATASOURCE_CONNECTION_TIMEOUT:600000}


management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always

minio:
  url: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket-name: my-bucket

logging:
  level:
    root: INFO
    com.tickget.roomserver: DEBUG
    org.springframework.kafka: DEBUG
    org.springframework.messaging: DEBUG
    org.springframework.web.socket: DEBUG

